/*This CSS is a desktop first CSS-file, media queries adapting the content for mobile devices is at the bottom*/

/*all boxes are boarder-boxes*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*reset default margin and padding for all elements*/
* {
  margin: 0;
  padding: 0;
}

/*there should not be any overflow horizontally, but if there is, it will be hidden*/
body,
html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/*general font styling (overridden in later sections when needed)*/
body {
  font-family: "DM Sans", system-ui;
  line-height: 1.5;
  font-size: 16px;
}

/*remove numbers/bullet-points from lists*/
ol,
ul {
  list-style: none;
}

/*remove default styling of links, text is set to white*/
a {
  text-decoration: none;
  color: white;
}

/*styling of the three main containers in the body element*/
header,
main,
footer {
  display: flex;
  background-color: lightslategray;
  margin: 1rem;
  padding: 1rem;
}

/*header has a fixed height*/
header {
  height: 6rem;
}

.header-nav {
  background-color: blue;
  width: 100%;
}

/*same size as main-nav, main-nav container only exists for sematic reasons (is a nav, and main-nav-ul is a ul*/
.header-nav-ul {
  display: flex;
  background-color: grey;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.header-nav-link {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.3px;
}

main {
  gap: 1rem;
}

.main-section-article {
  display: flex;
  background-color: black;
  padding: 1rem;
  flex-grow: 1;
  height: 100rem;
}

/*holds space for the sticky nav-ul div*/
.main-section-nav {
  display: flex;
  background-color: blue;
  width: 20%;
  min-width: 10rem;
  align-self: stretch;
}

.main-section-nav-ul {
  display: flex;
  flex-direction: column;
  background-color: gray;
  height: 80vh;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 10vh;
}

.main-section-nav-link {
  background-color: black;
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
}

footer {
  height: 3rem;
}

@media (max-width: 500px) {
  .header-nav-link {
    font-size: 17px;
    font-weight: 600;
  }

  main {
    flex-direction: column-reverse;
  }

  .main-section-nav {
    width: 100%;
    height: 6rem;
    position: sticky;
    top: 1rem;
  }

  .main-section-nav-ul {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 6rem;
  }

  .main-content {
    width: 100%;
  }
}

/*

.layout {
  margin: 3rem;
}

header {
  padding: 0.5rem;
}

.navbar {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 1rem 0 1rem 0;
}



.site-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 4rem;
}


h1 {
  font-size: 3rem;
}

h2 {
  font-size: 4rem;
}

h4 {
  font-size: 1rem;
}

p {
  text-align: justify;
}

img {
  width: 100%;
}

footer {
  background-color: black;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 0 3rem 0;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  list-style: none;
  text-decoration: none;
}



header {
  display: flex;
  background-color: black;
  height: 70px;
  padding: 20px;
  align-items: flex-end;
}

.main-nav {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.main-nav-ul {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

li {
  display: inline;
}

.gradient-border {
  display: flex;
  background-image: linear-gradient(black, white);
  height: 30px;
}

main {
  display: flex;
  height: 90%;
}

.main-content-area {
  display: flex;
  width: 70%;
  height: 1000px;
  background-color: aquamarine;
}

.secondary-nav {
  display: flex;
  width: 30%;
  height: 600px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 100px;
}

.nav-button {
  display: flex;
  background-color: black;
  height: 80px;
  width: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

footer {
  display: flex;
  background-color: lightblue;
  height: 50px;
}

*/
