/*This CSS is a desktop first CSS-file, media queries adapting the content for mobile devices is at the bottom*/

/*all boxes are boarder-boxes*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*reset default margin and padding for all elements*/
* {
  margin: 0;
  padding: 0;
}

/*there should not be any overflow horizontally, but if there is, it will be hidden*/
body,
html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/*general font styling (overridden in later sections when needed)*/
body {
  font-family: "DM Sans", system-ui;
  line-height: 1.5;
  font-size: 10px;
  letter-spacing: 0.5px;
}

/*remove numbers/bullet-points from lists*/
ol,
ul {
  list-style: none;
}

/*remove default styling of links, text is set to white*/
a {
  text-decoration: none;
  color: white;
}

/*styling of the three main containers in the body element*/
header,
main,
footer {
  display: flex;
  background-color: lightslategray;
  margin: 1rem;
  padding: 1rem;
  gap: 1rem;
}

/*header has a fixed height*/
header {
  height: 6rem;
}

.header-name {
  background-color: gray;
  display: flex;
  width: 15%;
  align-items: center;
  padding-left: 1rem;
}

h1 {
  color: white;
  font-size: 20px;
  font-weight: 100;
}

.header-nav {
  background-color: blue;
  flex-grow: 1;
}

/*same size as main-nav, main-nav container only exists for sematic reasons (is a nav, and main-nav-ul is a ul*/
.header-nav-ul {
  display: flex;
  background-color: grey;
  justify-content: space-between;
  padding: 0 4vw 0 4vw;
  align-items: center;
  height: 100%;
}

.header-nav-link {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.header-nav-link:hover {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.main-section-article {
  display: flex;
  background-color: gray;
  padding: 1rem;
  flex-grow: 1;
  height: 100rem;
}

/*holds space for the sticky nav-ul div*/
.main-section-nav {
  display: flex;
  background-color: blue;
  width: 20%;
  min-width: 10rem;
  align-self: stretch;
}

.main-section-nav-ul {
  display: flex;
  flex-direction: column;
  background-color: gray;
  height: 80vh;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 10vh;
}

.main-section-nav-link {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  letter-spacing: 0.5px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

footer {
  height: 3rem;
}

@media (max-width: 700px) {
  .header-nav-ul {
    padding: 0 4vw 0 4vw;
  }

  .header-nav-link {
    font-size: 18.5px;
  }

  .header-name {
    width: 18%;
  }

  h1 {
    font-size: 18.5px;
  }

  .main-section-nav {
    min-width: 8rem;
  }

  .main-section-nav-link {
    height: 3.5rem;
    width: 3.5rem;
    font-size: 13px;
    font-weight: 400;
  }
}

@media (max-width: 550px) {
  header,
  main,
  footer {
    padding: 0.6rem;
    gap: 0.6rem;
    margin: 0.6rem;
  }

  header {
    flex-direction: column;
    position: sticky;
    top: 1rem;
    margin-bottom: 0;
  }

  .header-name {
    width: 100%;
    justify-content: center;
  }

  h1 {
    letter-spacing: 15px;
  }

  .header-nav-link {
    font-size: 15px;
    font-weight: 400;
  }

  main {
    flex-direction: column-reverse;
    margin-top: 0;
    padding-top: 0.4rem;
  }

  .main-section-nav {
    width: 100%;
    height: 5rem;
    position: sticky;
    top: 7rem;
  }

  .main-section-nav-ul {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }

  .main-content {
    width: 100%;
  }
}
